html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(46, 46, 46);
    font-family: sans-serif;
}

.background {
  position:  absolute;
  display:  block;
  top: 0;
  left: 0;
  z-index: 0;
}

h1, h2, h3, h4 {
    color: #d9d9d9;
}