body {
  font-family: "Montserrat", sans-serif;
  background: white;
  color: black;
}

h1 {
  text-align: center;
  margin-bottom: 0em;
}

p {
  text-align: center;
  margin-bottom: 0em;
}

form,
a input[type="submit"] {
  max-width: 40em;
  margin: auto;
}

/*Input/Interaction/Tooltips*/
.a11y-input-tooltip {
  position: relative;
}

#header {
  display: flex;
}

#header img {
  height: 4em;
}

.google-login {
  position: absolute;
  right: 10px;
  height: 4em;
}

.g_id_signin {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 0;
}

input[type=text] {
  width: 100%;
  max-width: 100%;
  padding: 0.75rem;
  margin: 8px -2px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid rgba(101, 5, 204);
  font-size: 1rem;
  min-height: 49px;
}
input[type=text]:focus, input[type=text]:hover {
  outline: none;
  box-shadow: 2px 2px 10px rgba(60, 0, 130, 0.5);
}
input[type=text]:focus + [role=tooltip], input[type=text]:hover + [role=tooltip] {
  visibility: visible;
  opacity: 1;
}

input[type=password] {
  width: 100%;
  max-width: 100%;
  padding: 0.75rem;
  margin: 8px -2px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid rgba(101, 5, 204);
  font-size: 1rem;
  min-height: 49px;
}
input[type=password]:focus, input[type=password]:hover {
  outline: none;
  box-shadow: 2px 2px 10px rgba(60, 0, 130, 0.5);
}
input[type=password]:focus + [role=tooltip], input[type=password]:hover + [role=tooltip] {
  visibility: visible;
  opacity: 1;
}
input[type=number] {
  width: 100%;
  max-width: 100%;
  padding: 0.75rem;
  margin: 8px -2px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid rgba(101, 5, 204);
  font-size: 1rem;
  min-height: 49px;
}
input[type=number]:focus, input[type=number]:hover {
  outline: none;
  box-shadow: 2px 2px 10px rgba(60, 0, 130, 0.5);
}
input[type=number]:focus + [role=tooltip], input[type=number]:hover + [role=tooltip] {
  visibility: visible;
  opacity: 1;
}

input[type=submit] {
  width: 100%;
  max-width: 100%;
  padding: 0.75rem;
  margin: 8px -2px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1rem;
  min-height: 49px;
  background-color: rgba(101, 5, 204);
  color: white;
  cursor: pointer;
}

[role=tooltip] {
  transition: opacity 0.2s 1s ease-in-out;
  visibility: hidden;
  opacity: 0;
  position: relative;
  background: black;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
}
[role=tooltip]::after {
  content: "";
  position: absolute;
  left: 20px;
  top: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

select {
  width: 100%;
  padding: 16px 20px;
  border-radius: 4px;
  border-color: rgba(101, 5, 204);
  background-color: #fff;
}

/*Section----------**/
section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 250px;
}

#section-1 {
  background: rgba(255, 255, 255, 0.6);
}

/*Graph----------**/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 250px;
  padding-left: 250px;
}

.client-database-wrapper {
  max-width: 40em;
  margin: auto;
  text-align: center;
}

.client-database-wrapper.default .client-database {
  background-color: rgb(101, 5, 204);
  color: white;
}

.client-database {
  width: 100%;
  max-width: 100%;
  padding: 0.75rem;
  margin: 8px -2px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid rgba(101, 5, 204);
  font-size: 1rem;
  min-height: 49px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(101, 5, 204);
  cursor: pointer;
}

.client-database-name {
  font-weight: bold;
  font-size: large;
}

.client-database-description {
  font-weight: lighter;
  font-style: italic;
}

.divider {
  width: 3px;
  height: 25px;
  padding: 0px 0px;
  margin: -7px 5px;
  background-color: rgba(101, 5, 204);
  display: inline-block;
}

.laplace-distribution {
  background-image: url(../images/laplace_mechanism.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 4.5em;
  width: 6.5em;
  margin-bottom: -1em;
}

.exponential-mechanism {
  background-image: url(../images/exponential_mechanism.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 4.5em;
  width: 6.5em;
  margin-bottom: -1em;
}

.mechanism-wrapper {
  max-width: 30em;
  margin: auto;
  text-align: center;
}

.mechanism {
  width: 100%;
  max-width: 100%;
  padding: 0.75rem;
  margin: 8px -2px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid rgba(101, 5, 204);
  font-size: 1rem;
  min-height: 49px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(101, 5, 204);
  cursor: pointer;
}

.mechanism-name {
  font-size: 3.5em;
}

a {
  text-decoration: none;
}

/*Nav bar----------**/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 22px 25px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(101, 5, 204);
  color: white;
}

.active {
  background-color: rgba(101, 5, 204);
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}