{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <form action="/databases/add" method="POST">
    <div>
      <label for="display_name">Display Name</label>
      <span class="a11y-input-tooltip">
        <input type="text" name="display_name" id="display_name" aria-describedby="a11y-tooltip" 
        value="" required="required"/>
        <span role="tooltip" id="a11y-tooltip">
          Please give your database a public name</span>
        </span>
    </div>

    <div>
      <label for="description">Description</label>
      <span class="a11y-input-tooltip">
        <input type="text" name="description" id="description" aria-describedby="a11y-tooltip" 
        value="" required="required"/>
        <span role="tooltip" id="a11y-tooltip">
          Please give your database description
        </span>
        </span>
    </div>

    <div>
      <label for="username">Username</label>
      <span class="a11y-input-tooltip">
        <input type="text" name="username" id="username" aria-describedby="a11y-tooltip" 
        value="{{request.form['username']}}" required="required"/>
        <span role="tooltip" id="a11y-tooltip">
          Please enter the username to your database.</span>
        </span>
    </div>
    
    <div>
      <label for="password">Password</label>
      <span class="a11y-input-tooltip">
        <input type="password" name="password" id="password" aria-describedby="a11y-tooltip" 
        value="{{request.form['password']}}" required="required"/>
        <span role="tooltip" id="a11y-tooltip">
          Please enter the password to your database.</span>
      </span>
    </div>
    
    <div>
      <label for="host">Host</label>
      <span class="a11y-input-tooltip">
        <input type="text" name="host" id="host" aria-describedby="a11y-tooltip" 
        value="{{request.form['host']}}" required="required"/>
        <span role="tooltip" id="a11y-tooltip">
          Please enter your database URI.</span>
      </span>
    </div>
    
    <div>
      <label for="database">Database</label>
      <span class="a11y-input-tooltip">
        <input type="text" name="database" id="database" aria-describedby="a11y-tooltip" 
        value="{{request.form['database']}}" required="required"/>
        <span role="tooltip" id="a11y-tooltip">
          Please enter the database name.</span>
      </span>
    </div>     

    <div>
      <label for="table">Table</label>
      <span class="a11y-input-tooltip">
        <input type="text" name="table" id="table" aria-describedby="a11y-tooltip" 
        value="{{request.form['table']}}" required="required"/>
        <span role="tooltip" id="a11y-tooltip">
          Please enter the table name.</span>
      </span>
    </div>  

    <div>
      <label for="port">port</label>
      <span class="a11y-input-tooltip">
        <input type="number" name="port" id="port" aria-describedby="a11y-tooltip" 
        value="{{request.form['port']}}" required="required"
        placeholder="3306"/>
        <span role="tooltip" id="a11y-tooltip">
          Please enter port number, default is 3306 .</span>
      </span>
    </div>      
    
    <input type="submit" value="Submit">
  </form> 

  <!-- Section 1 Start -->
  <section id="section-1">
    <div>
    <h2> Learn More</h2>
        <p>
"Releasing differentially private datasets requires a deep understanding of differential privacy. Our goal is to 
assisting non-technical users with creating differentially private datasets using their private data. "
      </p>

  </section>
<!-- Section 1 end -->
{% endblock %}