{% extends "layout_2.html" %}
{% block title %}Queries{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<section class="sdp-page-banner" id="queries">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-banner-content">
                    <h1>Purchase Epsilon</h1>
                    <p>Current amount: {{epsilon}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container sdp-container">
        <div class="container sdp-container">
            <form action="/epsilon/buy" method="POST">
                <div class="form-group">
                    <label for="epsilon">Amount</label>
                    <input type="number" step=".1" name="epsilon" id="epsilon" class="form-control"
                        aria-describedby="a11y-tooltip" value="" required="required" />
                </div>
                <input type="submit" class="sdp-button form-control my-3" value="Purchase">
            </form>
        </div>
    </div>
</section>
{% endblock %}