{% extends "layout_2.html" %}
{% block title %}Learn{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<section class="sdp-page-banner m-0" id="learn">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-banner-content">
          <h1>More lessons are coming soon!</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="ud-about py-3">
  <div class="container">
    <div class="ud-about-wrapper wow fadeInUp bears-background" data-wow-delay=".2s">
      <div class="ud-about-content-wrapper">
        <div class="ud-about-content sdp-learning">
          <h2>You've finished our lessons on Differential Privacy</h2>
          <p>
            Stay tuned as more are added!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}