{% extends "layout_2.html" %}
{% block title %}Query Generator{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<section class="sdp-page-banner" id="Exponential">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-banner-content">
          <h1>Create a Query</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container sdp-container">
    <form action="/query/exponential/epsilon" method="POST">
      <div class="form-group">
        <label for="query_type">Statistic</label>
        <select name="query_type" class="form-control" id="query_type" aria-describedby="a11y-tooltip" value=""
          required="required">
          <option value="exponential_max">Maximum</option>
          <option value="exponential_min">Minimum</option>
          <option value="exponential_most_common">Most Common</option>
          <option value="exponential_least_common">Least Common</option>
        </select>
      </div>

      <div class="form-group">
        <label for="statistic">Of which column?</label>
        <select name="statistic" class="form-control" id="statistic" aria-describedby="a11y-tooltip" value=""
          required="required">
          {% for column in columns %}
          <option value="{{column['name']}}">{{column['name']}}</option>
          {% endfor %}
        </select>
      </div>

      <div hidden>
        <label for="database_id">Database Id</label>
        <span class="a11y-input-tooltip">
          <input type="text" name="database_id" id="database_id" aria-describedby="a11y-tooltip" value="{{database_id}}"
            required="required" />
      </div>
      <div class="form-group">
        <input type="submit" class="sdp-button form-control" value="Submit">
      </div>
    </form>
  </div>
</section>

{% endblock %}