{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<section class="ud-hero" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
          <h1 class="ud-hero-title">
            Differential privacy simplified for your database
          </h1>
          <p class="ud-hero-desc">
            Our tools enable you to create monetizable datasets while
            protecting the privacy of your customers.
          </p>
          <ul class="ud-hero-buttons">
            <li>
              <a href="{{ url_for('home') }}" rel="nofollow noopener" class="ud-main-btn ud-white-btn">
                Get Started
              </a>
            </li>
            <li>
              <a href="/learn" rel="nofollow noopener"
                class="ud-main-btn ud-link-btn">
                Learn More <i class="lni lni-arrow-right"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="ud-hero-brands-wrapper wow fadeInUp" data-wow-delay=".3s">
          <img src="/static/images/hero/brand.svg" alt="brand" />
        </div>
        <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
          <img src="/static/images/hero/hero-image.svg" alt="hero-image" />
          <img src="/static/images/hero/dotted-shape.svg" alt="shape" class="shape shape-1" />
          <img src="/static/images/hero/dotted-shape.svg" alt="shape" class="shape shape-2" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features" class="ud-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-section-title">
          <span>Features</span>
          <h2>How it works</h2>
          <p>
            Simple Differential Privacy is a marketplace of data insights that also
            protect individual privacy.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-feature wow fadeInUp" data-wow-delay=".1s">
          <div class="ud-feature-icon">
            <i class="bi-upload"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Upload Database Credentials</h3>
            <p class="ud-feature-desc">
              SDP never stores your data. We convert it to anonymous datasets.
            </p>
            <a href="/learn" class="ud-feature-link">
              Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-feature wow fadeInUp" data-wow-delay=".15s">
          <div class="ud-feature-icon">
            <i class="bi-person-x"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Tune Privacy Settings</h3>
            <p class="ud-feature-desc">
              Use our cutting-edge tools to meet your privacy needs.
            </p>
            <a href="/learn" class="ud-feature-link">
              Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-feature wow fadeInUp" data-wow-delay=".2s">
          <div class="ud-feature-icon">
            <i class="bi-file-bar-graph"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Generate Anonymous Datasets</h3>
            <p class="ud-feature-desc">
              Datasets that can be monetized with minimal risk to individuals
              in the original data.
            </p>
            <a href="/learn" class="ud-feature-link">
              Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
          <div class="ud-feature-icon">
            <i class="bi-currency-exchange"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Market your Dataset</h3>
            <p class="ud-feature-desc">
              Earn passive income from analysts and researchers interested in your data.
            </p>
            <a href="/learn" class="ud-feature-link">
              Learn More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="ud-about">
  <div class="container">
    <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
      <div class="ud-about-content-wrapper">
        <div class="ud-about-content">
          <span class="tag">About SDP</span>
          <h2>Privacy made simple and easy.</h2>
          <p>
            Every business generates insightful data. Medical data can improve the quality of life for patients. Human
            resource
            data can inform a business on how best to satisfy their employees.
            All data, in the right hands, can benefit humanity.
          </p>

          <p>
            However, most health and human resource data is amassed in cloud
            storage and only accessed sparingly for fear of privacy breaches.
            Our solution empowers data owners to share their valuable information
            while protecting the customers that trust them.
          </p>

          <p>
            <b>Differential privacy</b> is the technique we use to mask
            the existence of any single individual in a dataset. By hiding
            the existence of an individual, we can protect their privacy.
            The mathematics behind differential privacy is intimidating,
            but our solution simplifies the process to a few simple decisions
            so you can start earning passive income from your data instantly.
          </p>
          <a href="/learn" class="ud-main-btn">Learn More</a>
        </div>
      </div>
      <div class="ud-about-image">
        <img src="/static/images/about/about-image.svg" alt="about-image" />
      </div>
    </div>
  </div>
</section>

<section id="faq" class="ud-faq">
  <div class="shape">
    <img src="/static/images/faq/shape.svg" alt="shape" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-section-title text-center mx-auto">
          <span>FAQ</span>
          <h2>Any Questions? Answered</h2>
          <p>
            There are many variations of passages of Lorem Ipsum available
            but the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How to use UIdeck?</span>
            </button>
            <div id="collapseOne" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How to download icons from Lineicons?</span>
            </button>
            <div id="collapseTwo" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>Is GrayGrids part of UIdeck?</span>
            </button>
            <div id="collapseThree" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>Can I use this template for commercial project?</span>
            </button>
            <div id="collapseFour" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>Do you have plan releasing Play Pro?</span>
            </button>
            <div id="collapseFive" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>Where and how to host this template?</span>
            </button>
            <div id="collapseSix" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="ud-testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-section-title mx-auto text-center">
          <span>Testimonials</span>
          <h2>What our Customers Says</h2>
          <p>
            There are many variations of passages of Lorem Ipsum available
            but the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="ud-single-testimonial wow fadeInUp" data-wow-delay=".1s">
          <div class="ud-testimonial-ratings">
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
          </div>
          <div class="ud-testimonial-content">
            <p>
              “Our members are so impressed. It's intuitive. It's clean.
              It's distraction free. If you're building a community.
            </p>
          </div>
          <div class="ud-testimonial-info">
            <div class="ud-testimonial-image">
              <img src="/static/images/testimonials/author-01.png" alt="author" />
            </div>
            <div class="ud-testimonial-meta">
              <h4>Sabo Masties</h4>
              <p>Founder @UIdeck</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="ud-single-testimonial wow fadeInUp" data-wow-delay=".15s">
          <div class="ud-testimonial-ratings">
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
          </div>
          <div class="ud-testimonial-content">
            <p>
              “Our members are so impressed. It's intuitive. It's clean.
              It's distraction free. If you're building a community.
            </p>
          </div>
          <div class="ud-testimonial-info">
            <div class="ud-testimonial-image">
              <img src="/static/images/testimonials/author-02.png" alt="author" />
            </div>
            <div class="ud-testimonial-meta">
              <h4>Margin Gesmu</h4>
              <p>Founder @Lineicons</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="ud-single-testimonial wow fadeInUp" data-wow-delay=".2s">
          <div class="ud-testimonial-ratings">
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
            <i class="lni lni-star-filled"></i>
          </div>
          <div class="ud-testimonial-content">
            <p>
              “Our members are so impressed. It's intuitive. It's clean.
              It's distraction free. If you're building a community.
            </p>
          </div>
          <div class="ud-testimonial-info">
            <div class="ud-testimonial-image">
              <img src="/static/images/testimonials/author-03.png" alt="author" />
            </div>
            <div class="ud-testimonial-meta">
              <h4>William Smith</h4>
              <p>Founder @GrayGrids</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-brands wow fadeInUp" data-wow-delay=".2s">
          <div class="ud-title">
            <h6>Trusted and Used by</h6>
          </div>
          <div class="ud-brands-logo">
            <div class="ud-single-logo">
              <img src="/static/images/brands/ayroui.svg" alt="ayroui" />
            </div>
            <div class="ud-single-logo">
              <img src="/static/images/brands/uideck.svg" alt="uideck" />
            </div>
            <div class="ud-single-logo">
              <img src="/static/images/brands/graygrids.svg" alt="graygrids" />
            </div>
            <div class="ud-single-logo">
              <img src="/static/images/brands/lineicons.svg" alt="lineicons" />
            </div>
            <div class="ud-single-logo">
              <img src="/static/images/brands/ecommerce-html.svg" alt="ecommerce-html" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="team" class="ud-team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-section-title mx-auto text-center">
          <span>Our Team</span>
          <h2>Meet The Team</h2>
          <p>
            There are many variations of passages of Lorem Ipsum available
            but the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-team wow fadeInUp" data-wow-delay=".1s">
          <div class="ud-team-image-wrapper">
            <div class="ud-team-image">
              <img src="/static/images/team/team-01.png" alt="team" />
            </div>

            <img src="/static/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
            <img src="/static/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
          </div>
          <div class="ud-team-info">
            <h5>Adveen Desuza</h5>
            <h6>UI Designer</h6>
          </div>
          <ul class="ud-team-socials">
            <li>
              <a href="https://twitter.com/MusharofChy">
                <i class="lni lni-facebook-filled"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/MusharofChy">
                <i class="lni lni-twitter-filled"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/MusharofChy">
                <i class="lni lni-instagram-filled"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-team wow fadeInUp" data-wow-delay=".15s">
          <div class="ud-team-image-wrapper">
            <div class="ud-team-image">
              <img src="/static/images/team/team-02.png" alt="team" />
            </div>

            <img src="/static/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
            <img src="/static/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
          </div>
          <div class="ud-team-info">
            <h5>Jezmin uniya</h5>
            <h6>Product Designer</h6>
          </div>
          <ul class="ud-team-socials">
            <li>
              <a href="https://twitter.com/MusharofChy">
                <i class="lni lni-facebook-filled"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/MusharofChy">
                <i class="lni lni-twitter-filled"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/MusharofChy">
                <i class="lni lni-instagram-filled"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-team wow fadeInUp" data-wow-delay=".2s">
          <div class="ud-team-image-wrapper">
            <div class="ud-team-image">
              <img src="/static/images/team/team-03.png" alt="team" />
            </div>

            <img src="/static/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
            <img src="/static/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
          </div>
          <div class="ud-team-info">
            <h5>Andrieo Gloree</h5>
            <h6>App Developer</h6>
          </div>
          <ul class="ud-team-socials">
            <li>
              <a href="https://twitter.com/MusharofChy">
                <i class="lni lni-facebook-filled"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/MusharofChy">
                <i class="lni lni-twitter-filled"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/MusharofChy">
                <i class="lni lni-instagram-filled"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-team wow fadeInUp" data-wow-delay=".25s">
          <div class="ud-team-image-wrapper">
            <div class="ud-team-image">
              <img src="/static/images/team/team-04.png" alt="team" />
            </div>

            <img src="/static/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
            <img src="/static/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
          </div>
          <div class="ud-team-info">
            <h5>Jackie Sanders</h5>
            <h6>Content Writer</h6>
          </div>
          <ul class="ud-team-socials">
            <li>
              <a href="https://twitter.com/MusharofChy">
                <i class="lni lni-facebook-filled"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/MusharofChy">
                <i class="lni lni-twitter-filled"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/MusharofChy">
                <i class="lni lni-instagram-filled"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="ud-contact">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-8 col-lg-7">
        <div class="ud-contact-content-wrapper">
          <div class="ud-contact-title">
            <span>CONTACT US</span>
            <h2>
              Let’s talk about <br />
              Love to hear from you!
            </h2>
          </div>
          <div class="ud-contact-info-wrapper">
            <div class="ud-single-info">
              <div class="ud-info-icon">
                <i class="lni lni-map-marker"></i>
              </div>
              <div class="ud-info-meta">
                <h5>Our Location</h5>
                <p>401 Broadway, 24th Floor, Orchard Cloud View, London</p>
              </div>
            </div>
            <div class="ud-single-info">
              <div class="ud-info-icon">
                <i class="lni lni-envelope"></i>
              </div>
              <div class="ud-info-meta">
                <h5>How Can We Help?</h5>
                <p>info@yourdomain.com</p>
                <p>contact@yourdomain.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="ud-contact-form-wrapper wow fadeInUp" data-wow-delay=".2s">
          <h3 class="ud-contact-form-title">Send us a Message</h3>
          <form class="ud-contact-form">
            <div class="ud-form-group">
              <label for="fullName">Full Name*</label>
              <input type="text" name="fullName" placeholder="Adam Gelius" />
            </div>
            <div class="ud-form-group">
              <label for="email">Email*</label>
              <input type="email" name="email" placeholder="example@yourmail.com" />
            </div>
            <div class="ud-form-group">
              <label for="phone">Phone*</label>
              <input type="text" name="phone" placeholder="+885 1254 5211 552" />
            </div>
            <div class="ud-form-group">
              <label for="message">Message*</label>
              <textarea name="message" rows="1" placeholder="type your message here"></textarea>
            </div>
            <div class="ud-form-group mb-0">
              <button type="submit" class="ud-main-btn">
                Send Message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<a href="javascript:void(0)" class="back-to-top">
  <i class="lni lni-chevron-up"> </i>
</a>

<script>
  const pageLink = document.querySelectorAll(".ud-menu-scroll");

  pageLink.forEach((elem) => {
    elem.addEventListener("click", (e) => {
      e.preventDefault();
      document.querySelector(elem.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
        offsetTop: 1 - 60,
      });
    });
  });

  function onScroll(event) {
    const sections = document.querySelectorAll(".ud-menu-scroll");
    const scrollPos =
      window.pageYOffset ||
      document.documentElement.scrollTop ||
      document.body.scrollTop;

    for (let i = 0; i < sections.length; i++) {
      const currLink = sections[i];
      const val = currLink.getAttribute("href");
      const refElement = document.querySelector(val);
      const scrollTopMinus = scrollPos + 73;
      if (
        refElement.offsetTop <= scrollTopMinus &&
        refElement.offsetTop + refElement.offsetHeight > scrollTopMinus
      ) {
        document
          .querySelector(".ud-menu-scroll")
          .classList.remove("active");
        currLink.classList.add("active");
      } else {
        currLink.classList.remove("active");
      }
    }
  }

  window.document.addEventListener("scroll", onScroll);
</script>

{% endblock %}