{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<section class="ud-hero" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
          <h1 class="ud-hero-title">
            Differential Privacy Simplified for Your Database
          </h1>
          <p class="ud-hero-desc">
            SDP tools enable you to monetize databases while
            protecting the privacy of individuals.
          </p>
          <ul class="ud-hero-buttons">
            <li>
              <a href="{{ url_for('home') }}" rel="nofollow noopener" class="ud-main-btn ud-white-btn">
                Get Started
              </a>
            </li>
            <li>
              <a href="/learn" rel="nofollow noopener"
                class="ud-main-btn ud-link-btn">
                Learn More <i class="lni lni-arrow-right"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
          <img style='border:5px solid #ffffff' src="https://i.ibb.co/GWrGFbJ/image.png" alt="hero-image" />
          <img src="/static/images/hero/dotted-shape.svg" alt="shape" class="shape shape-1" />
          <img src="/static/images/hero/dotted-shape.svg" alt="shape" class="shape shape-2" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features" class="ud-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-section-title">
          <span>Features</span>
          <h2>How it works</h2>
          <p>
            Simple Differential Privacy is a marketplace for data insights that
            protects individual privacy.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-feature wow fadeInUp" data-wow-delay=".1s">
          <div class="ud-feature-icon">
            <i class="bi-upload"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Upload Database Credentials</h3>
            <p class="ud-feature-desc">
              SDP never stores your data. We enable differentially private access to it.
            </p>
            <a href="/learn" class="ud-feature-link">
              Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-feature wow fadeInUp" data-wow-delay=".15s">
          <div class="ud-feature-icon">
            <i class="bi-person-x"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Tune Privacy Settings</h3>
            <p class="ud-feature-desc">
              We help you hone the privacy settings needed for your use cases.
            </p>
            <a href="/learn" class="ud-feature-link">
              Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-feature wow fadeInUp" data-wow-delay=".2s">
          <div class="ud-feature-icon">
            <i class="bi-file-bar-graph"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Differentially Private Queries</h3>
            <p class="ud-feature-desc">
              SDP enables differentially private aggregation queries.
            </p>
            <a href="/learn" class="ud-feature-link">
              Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
          <div class="ud-feature-icon">
            <i class="bi-currency-exchange"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Market your Dataset</h3>
            <p class="ud-feature-desc">
              Earn passive income from analysts and researchers interested in your data.
            </p>
            <a href="/learn" class="ud-feature-link">
              Learn More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="ud-about">
  <div class="container">
    <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
      <div class="ud-about-content-wrapper">
        <div class="ud-about-content">
          <span class="tag">About SDP</span>
          <h2>Privacy Made Simple</h2>
          <p>
            Every business generates insightful data. Medical data can improve the quality of life for patients. Human
            resource
            data can inform a business on how best to satisfy their employees.
            All data, in the right hands, can benefit humanity.
          </p>

          <p>
            However, most health and human resource data, for example, has highly restricted
            access as a means to prevent privacy breaches.
            Our solution empowers data owners to share their valuable information
            while protecting the individuals that trust them with it.
          </p>

          <p>
            <b>Differential privacy</b> is the technique we use to mask
            the existence of any single individual in a dataset. By hiding
            the existence of an individual, we can protect their privacy.
            The mathematics behind differential privacy is intimidating,
            but our solution simplifies the process to a few simple decisions
            so you can start earning passive income from your data instantly.
          </p>
          <a href="/learn" class="ud-main-btn">Learn More</a>
        </div>
      </div>
      <div class="ud-about-image">
        <img style="padding: 70px 50px 50px 50px; max-width: 80%;" src="https://i.ibb.co/1GHWbDg/image.png" alt="about-image" />
      </div>
    </div>
  </div>
</section>

<section id="faq" class="ud-faq">
  <div class="shape">
    <img src="/static/images/faq/shape.svg" alt="shape" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-section-title text-center mx-auto">
          <span>FAQ</span>
          <h2>Frequently Asked Questions</h2>
          <p>

          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How do I get started?</span>
            </button>
            <div id="collapseOne" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                After logging in,
                <br>
                Follow the <a href="/home" target="_blank">Get Started</a> link.
                <br>
                Click "Add a Database".
                <br>
                Fill in the form with your database credentials. SDP will open a connection
                to your database.  Your database can be updated continuously.  Your database is
                never moved, nor copied or stored on our site.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How do I choose between the Laplacian and Exponential Mechanisms?</span>
            </button>
            <div id="collapseTwo" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                The <b> Laplacian Mechanism </b> focuses on numerical data only. Noise
                is added noise to the true numerical answer to a query. So the Laplacian
                Mechanism returns an answer from the dataset with a degree of error in it.
                The <b>ExponentialMechanism</b> allows queries of non-numerical data.
                The mechanism always returns a possible answer from the dataset.
                This query answer is not always the correct answer.
                The Exponential Mechanism can also be customized with use case
                specific utility functions. These utlility functions can specify
                what constitutes the best answer. The analyst defines
                which element is the “best” by specifying a scoring function 
                that outputs a score for each element in the set, and also 
                defines the set of things to pick from. The mechanism provides 
                differential privacy by approximately maximizing the score of 
                the element it returns - in other words, to satisfy differential 
                privacy, the exponential mechanism sometimes returns an 
                element from the set which does not have the highest score. <br>
                <br>
                The <b>biggest practical difference</b>between the Exponential mechanism
                and the Laplace Mechanism mechanisms is that the output of the 
                exponential mechanism is always a member of the set of possible 
                answers.  This is extremely useful when selecting an item from a 
                finite set, when a noisy answer would not make sense. For example, 
                we might want to pick a date for a big meeting, which uses each participant’s 
                personal calendar to maximize the number of participants without a conflict, 
                while providing differential privacy for the calendars. Adding noise 
                to a date doesn’t make much sense: it might turn a Friday into a 
                Saturday, and increase the number of conflicts significantly. The 
                exponential mechanism is perfect for problems like this one: it 
                selects a date without noise.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>What does the epsilon parameter mean and how do I set it for my data?</span>
            </button>
            <div id="collapseThree" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                The parameter epsilon is the parameter that sets the degree 
                of privacy leakage permitted for a particular database.  
                The higher the value of epsilon, the more privacy leakage, 
                the less protection for individuals in the database for 
                identification as members.  The SDP platform allows database 
                owner to choose epsilon values between .1 and 5 by increments of .1.  
                <br>
                Practically speaking an epsilon of value 1 or less provides 
                a very high degree of privacy and values of 4 or greater 
                provide little privacy. It is challenging to set the epsilon 
                parameter because there is not a set of hard and fast rules 
                that guide this setting of epsilon for all use cases.  
                <br>
                Setting the epsilon parameter comes with an important trade-off. 
                The lower the value (less privacy leakage, higher privacy)
                the lower the utility of
                the query responses.  Since privacy requires a degree of “error” 
                in the query response, setting the parameter requires a balancing 
                of privacy with utility.  This balance will depend on particular 
                databases, their population, the sensitivity of their data, and 
                the potential uses of the data.  In short, setting the epsilon 
                parameter is more of an art than a science.  It may require a
                degree of experimentation on the part of the database owner.
                For more guidance on setting the epsilon paramter, visit the
                four part Jupyter notebook series located HERE.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>What degree of privacy does SDP provide?</span>
            </button>
            <div id="collapseFour" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                It is important to understand that differential privacy 
                mechanisms attempt to provide protection against the 
                identification of a particular individual’s membership 
                in a database. The privacy provided is not absolute privacy.  
                The privacy guarantees afforded by differential privacy 
                mechanisms are mathematically rigorous.  However, the practical
                outcomes depend on prior or auxiliary knowledge and the 
                threat model.  While the degree of privacy is set by the 
                privacy parameters, the practical implications are specific to your use case
                and privacy threats.
                
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How do I prevent attacks on my data?</span>
            </button>
            <div id="collapseFive" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                You cannot prevent attacks but can minimize their effectiveness.
                By setting the right privacy parameters you can vitiate and thwart
                an attack to the degree you choose. SDP allows data owners to set
                an epsilon budget.  This budget prevents attackers from repeatedly
                querying data beyond what data owners believe is safe for individuals.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>Who do I contact to contribute ideas and suggestions?</span>
            </button>
            <div id="collapseSix" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Feedback on the SDP is welcome and can be contributed by 
                sending an email to sdpsupport@gmail.com. The SDP welcomes 
                constructive feedback on the platform. The SDP team is 
                particularly interested in hearing about additional features 
                that would be valuable for our database user and owner community. 
                Our blog will be coming soon!
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>Will SDP help me comply with the CPRA?</span>
            </button>
            <div id="collapseSeven" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                The CCPA now has an enforcement arm, the CRPA.  The regulations are listed on
                <a href="https://cppa.ca.gov/regulations/" target="_blank">the CCPA website</a>. 
                Differential Privacy techniques will most likely be a significant tool in 
                the evolving landscape of privacy protection mechanisms affirmed by 
                regulatory bodies. Stay tuned to our blog!
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseEight">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How does SDP work?</span>
            </button>
            <div id="collapseEight" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                SDP provides access for users to databases that have been provided by
                database owners. Access to the databases is enabled through 
                <strong> differentially private queries </strong>. As a user you can query
                the database with numerical queries such as <b>COUNT, SUM, AVERAGE</b>
                and non-numerical data for <b> MOST COMMON, LEAST COMMON,
                MAXIMUM AND MINIMUM </b>.  These <b> aggregation queries </b> enable insights from the data
                without sharing the individual records.

              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseNine">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How do I set the parameters so that I have the right degree of utility for my 
                database users?</span>
            </button>
            <div id="collapseNine" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                The trade-off between utility and privacy is maintained by setting
                two parameters epsilon (privacy leakage parameter) and sensitivity
                generally referred to as delta (data variability parameter).
                Setting these parameters is an interactive exercise.  Setting these
                parameters is specific use case.  The education materials available
                walk you through examples to help guide the data owner to the right settings.
                These education materials include the Jupyter Notebook Learning Series located
                HERE
                which explain the concepts behind the parameters with interactive examples.
                Read the material in the Learn section and access the Jupyter notebooks.
                For additional help send email to sdpsupport@gmail.com. We'll help!
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTen">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>What does the sensitivity parameter mean and how do I set it for my data?</span>
            </button>
            <div id="collapseTen" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                <p>Broadly speaking sensitivity is the degree to which a query’s outcome can change as it is implemented on two “adjacent” databases.  Also broadly speaking an “adjacent” database from a given database, D, is a database D’ that differs by only one record.  The sensitivity of a query is the maximum amount a query can differ when considered over ALL of the possible adjacent databases.</p>
                <br>
                <p>Setting the sensitivity parameter for a Laplacian Mechanism will vary by query:</p>
                <br>
                <li>For the <b>COUNT</b> query the sensitivity is always one as the count in adjacent differs by one record. </li>
                <li>For <b>SUM</b>, <b>AVERAGE</b> the sensitivity should be set by the user depending on the extreme values that are possible in the data that needs to be protected. To set the sensitivity
                  choose the highest possible value that could be anticipated in the database and enter this value as a upper bound in the query generator. Set the lower bound to the
                  lowest possible value that could be detected in the data.  The query generator will calculate the sensitivity for you.</li>
                <br>
                For more guidance on setting the sensitivity parameter see the Jupyter Notebook Learning Series HERE.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapsEleven">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>What are the risks associated with using SDP?</span>
            </button>
            <div id="collapsEleven" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                It is important to remember that differential privacy is not complete privacy.  The risk
                of exposure of an individual's membership in the database is never absolute.  By allowing
                useful information to be obtained through our query engine, a degradation in privacy
                is inevitable.  Perfect privacy can only be achieved with no utility.  Perfect utlility
                affords no privacy. The considerations in a practical balance need to be carefully considered.
                SDP can track usage for data owners for behaviors associated with attacks, but some level
                of risk must be assumed.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwelve">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How do I get help or report a problem with SDP?</span>
            </button>
            <div id="collapseTwelve" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Send issues, including bugs and requests for help and support 
                with the SDP platform to sdpsupport@gmail.com.  
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThirteen">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>What browsers are supported by SDP?</span>
            </button>
            <div id="collapseThirteen" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Firefox, Chrome and Safari.  
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFourteen">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>What features are envisioned for SDP?</span>
            </button>
            <div id="collapseFourteen" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                The product roadmap for SDP includes user tracking dashboards for data owners
                to monitor activity in the form of dashboards and the ability for owners to set
                privacy budgets for individual users.  These improvements will increase an owner's
                ability to detect attacks. SDP envisions additional query capabilities
                such as VARIANCE, STANDARD DEVIATION, MEDIAN.  Additional advanced query mechanisms
                are envisiioned which include clamping, advanced average algorithms,
                and customizable Exponential scoring functionality.  For greater detail check out
                our <a href="/product_roadmap">product roadmap page</a>.

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="team" class="ud-team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-section-title mx-auto text-center">
          <span>Our Team</span>
          <h2>Meet The Team</h2>
          <p>
            A group of privacy-passionate data scientists.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-team wow fadeInUp" data-wow-delay=".1s">
          <div class="ud-team-image-wrapper">
            <div class="ud-team-image">
              <img src="https://ca.slack-edge.com/T0WA5NWKG-U01Q3PMNXPH-4f573f8e9b96-512" alt="team" />
            </div>

            <img src="/static/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
            <img src="/static/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
          </div>
          <div class="ud-team-info">
            <h5>Chandler Haukap</h5>
            <h6>Data Scientist</h6>
            <h6>chandler-haukap@berkeley.edu</h6>
          </div>
          <ul class="ud-team-socials">
            <li>
              <a href="http://www.linkedin.com/in/chandler-haukap">
                <i class="lni lni-linkedin-original"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-team wow fadeInUp" data-wow-delay=".15s">
          <div class="ud-team-image-wrapper">
            <div class="ud-team-image">
              <img src="https://ca.slack-edge.com/T0WA5NWKG-URRQ1E50S-7c9a89ed6935-512" alt="team" />
            </div>

            <img src="/static/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
            <img src="/static/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
          </div>
          <div class="ud-team-info">
            <h5>Lesley Matheson, PhD</h5>
            <h6>Data Scientist</h6>
            <h6>lesley.matheson@berkeley.edu</h6>
          </div>
          <ul class="ud-team-socials">
            <li>
              <a href="https://www.linkedin.com/in/lesley-matheson">
                <i class="lni lni-linkedin-original"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-team wow fadeInUp" data-wow-delay=".2s">
          <div class="ud-team-image-wrapper">
            <div class="ud-team-image">
              <img src="https://ca.slack-edge.com/T0WA5NWKG-U011BC7PG68-b50ccb7f1f43-512" alt="team" />
            </div>

            <img src="/static/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
            <img src="/static/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
          </div>
          <div class="ud-team-info">
            <h5>Kritesh Shrestha</h5>
            <h6>Data Scientist</h6>
            <h6>kkshrestha@berkeley.edu</h6>
          </div>
          <ul class="ud-team-socials">
            <li>
              <a href="https://www.linkedin.com/in/kritesh-shrestha-011091109/">
                <i class="lni lni-linkedin-original"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>  
      </div>
    </div>
  </div>
</section>


<a href="javascript:void(0)" class="back-to-top">
  <i class="lni lni-chevron-up"> </i>
</a>

<script>
  const pageLink = document.querySelectorAll(".ud-menu-scroll");

  pageLink.forEach((elem) => {
    elem.addEventListener("click", (e) => {
      e.preventDefault();
      document.querySelector(elem.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
        offsetTop: 1 - 60,
      });
    });
  });

  function onScroll(event) {
    const sections = document.querySelectorAll(".ud-menu-scroll");
    const scrollPos =
      window.pageYOffset ||
      document.documentElement.scrollTop ||
      document.body.scrollTop;

    for (let i = 0; i < sections.length; i++) {
      const currLink = sections[i];
      const val = currLink.getAttribute("href");
      const refElement = document.querySelector(val);
      const scrollTopMinus = scrollPos + 73;
      if (
        refElement.offsetTop <= scrollTopMinus &&
        refElement.offsetTop + refElement.offsetHeight > scrollTopMinus
      ) {
        document
          .querySelector(".ud-menu-scroll")
          .classList.remove("active");
        currLink.classList.add("active");
      } else {
        currLink.classList.remove("active");
      }
    }
  }

  window.document.addEventListener("scroll", onScroll);
</script>

{% endblock %}