{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<section class="ud-hero" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
          <h1 class="ud-hero-title">
            Differential privacy simplified for your database
          </h1>
          <p class="ud-hero-desc">
            Our tools enable you to create monetizable datasets while
            protecting the privacy of your customers.
          </p>
          <ul class="ud-hero-buttons">
            <li>
              <a href="{{ url_for('home') }}" rel="nofollow noopener" class="ud-main-btn ud-white-btn">
                Get Started
              </a>
            </li>
            <li>
              <a href="/learn" rel="nofollow noopener"
                class="ud-main-btn ud-link-btn">
                Learn More <i class="lni lni-arrow-right"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
          <img style='border:5px solid #ffffff' src="https://i.ibb.co/GWrGFbJ/image.png" alt="hero-image" />
          <img src="/static/images/hero/dotted-shape.svg" alt="shape" class="shape shape-1" />
          <img src="/static/images/hero/dotted-shape.svg" alt="shape" class="shape shape-2" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features" class="ud-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-section-title">
          <span>Features</span>
          <h2>How it works</h2>
          <p>
            Simple Differential Privacy is a marketplace of data insights that also
            protect individual privacy.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-feature wow fadeInUp" data-wow-delay=".1s">
          <div class="ud-feature-icon">
            <i class="bi-upload"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Upload Database Credentials</h3>
            <p class="ud-feature-desc">
              SDP never stores your data. We convert it to anonymous datasets.
            </p>
            <a href="/learn" class="ud-feature-link">
              Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-feature wow fadeInUp" data-wow-delay=".15s">
          <div class="ud-feature-icon">
            <i class="bi-person-x"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Tune Privacy Settings</h3>
            <p class="ud-feature-desc">
              Use our cutting-edge tools to meet your privacy needs.
            </p>
            <a href="/learn" class="ud-feature-link">
              Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-feature wow fadeInUp" data-wow-delay=".2s">
          <div class="ud-feature-icon">
            <i class="bi-file-bar-graph"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Generate Anonymous Datasets</h3>
            <p class="ud-feature-desc">
              Datasets that can be monetized with minimal risk to individuals
              in the original data.
            </p>
            <a href="/learn" class="ud-feature-link">
              Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
          <div class="ud-feature-icon">
            <i class="bi-currency-exchange"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Market your Dataset</h3>
            <p class="ud-feature-desc">
              Earn passive income from analysts and researchers interested in your data.
            </p>
            <a href="/learn" class="ud-feature-link">
              Learn More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="ud-about">
  <div class="container">
    <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
      <div class="ud-about-content-wrapper">
        <div class="ud-about-content">
          <span class="tag">About SDP</span>
          <h2>Privacy made simple and easy.</h2>
          <p>
            Every business generates insightful data. Medical data can improve the quality of life for patients. Human
            resource
            data can inform a business on how best to satisfy their employees.
            All data, in the right hands, can benefit humanity.
          </p>

          <p>
            However, most health and human resource data is amassed in cloud
            storage and only accessed sparingly for fear of privacy breaches.
            Our solution empowers data owners to share their valuable information
            while protecting the customers that trust them.
          </p>

          <p>
            <b>Differential privacy</b> is the technique we use to mask
            the existence of any single individual in a dataset. By hiding
            the existence of an individual, we can protect their privacy.
            The mathematics behind differential privacy is intimidating,
            but our solution simplifies the process to a few simple decisions
            so you can start earning passive income from your data instantly.
          </p>
          <a href="/learn" class="ud-main-btn">Learn More</a>
        </div>
      </div>
      <div class="ud-about-image">
        <img style="padding: 70px 50px 50px 50px; max-width: 80%;" src="https://i.ibb.co/1GHWbDg/image.png" alt="about-image" />
      </div>
    </div>
  </div>
</section>

<section id="faq" class="ud-faq">
  <div class="shape">
    <img src="/static/images/faq/shape.svg" alt="shape" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-section-title text-center mx-auto">
          <span>FAQ</span>
          <h2>Any Questions? Answered</h2>
          <p>
            A list of common questions.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How do I get started?</span>
            </button>
            <div id="collapseOne" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How do I choose between the Laplacian and Exponential Mechanisms?</span>
            </button>
            <div id="collapseTwo" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>What does the epsilon parameter mean and how do I set it for my data?</span>
            </button>
            <div id="collapseThree" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>What degree of privacy does SDP provide?</span>
            </button>
            <div id="collapseThree" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How do I prevent attacks on my data?</span>
            </button>
            <div id="collapseThree" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>Who do I contact to contribute ideas and suggestions?</span>
            </button>
            <div id="collapseThree" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How does SDP work?</span>
            </button>
            <div id="collapseFour" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How do I set the parameters so that I have the right degree of utility for my 
                database users?</span>
            </button>
            <div id="collapseFive" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>What does the epsilon parameter mean and how do I set it for my data?</span>
            </button>
            <div id="collapseSix" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>What are the risks associated with using SDP?</span>
            </button>
            <div id="collapseSix" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How do I get help?</span>
            </button>
            <div id="collapseSix" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
          <div class="accordion">
            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>How do I report a problem with SDP?</span>
            </button>
            <div id="collapseSix" class="accordion-collapse collapse">
              <div class="ud-faq-body">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="team" class="ud-team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-section-title mx-auto text-center">
          <span>Our Team</span>
          <h2>Meet The Team</h2>
          <p>
            A group of privacy oriented data scientists.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-team wow fadeInUp" data-wow-delay=".1s">
          <div class="ud-team-image-wrapper">
            <div class="ud-team-image">
              <img src="https://ca.slack-edge.com/T0WA5NWKG-U01Q3PMNXPH-4f573f8e9b96-512" alt="team" />
            </div>

            <img src="/static/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
            <img src="/static/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
          </div>
          <div class="ud-team-info">
            <h5>Chandler Haukap</h5>
            <h6>Data Scientist</h6>
          </div>
          <ul class="ud-team-socials">
            <li>
              <a href="https://facebook.com/">
                <i class="lni lni-facebook-filled"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="lni lni-twitter-filled"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com">
                <i class="lni lni-linkedin-original"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-team wow fadeInUp" data-wow-delay=".15s">
          <div class="ud-team-image-wrapper">
            <div class="ud-team-image">
              <img src="https://ca.slack-edge.com/T0WA5NWKG-URRQ1E50S-7c9a89ed6935-512" alt="team" />
            </div>

            <img src="/static/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
            <img src="/static/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
          </div>
          <div class="ud-team-info">
            <h5>Lesley Matheson</h5>
            <h6>Data Scientist</h6>
          </div>
          <ul class="ud-team-socials">
            <li>
              <a href="https://facebook.com/">
                <i class="lni lni-facebook-filled"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="lni lni-twitter-filled"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com">
                <i class="lni lni-linkedin-original"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="ud-single-team wow fadeInUp" data-wow-delay=".2s">
          <div class="ud-team-image-wrapper">
            <div class="ud-team-image">
              <img src="https://ca.slack-edge.com/T0WA5NWKG-U011BC7PG68-b50ccb7f1f43-512" alt="team" />
            </div>

            <img src="/static/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
            <img src="/static/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
          </div>
          <div class="ud-team-info">
            <h5>Kritesh Shrestha</h5>
            <h6>Data Scientist</h6>
          </div>
          <ul class="ud-team-socials">
            <li>
              <a href="https://www.linkedin.com/in/kritesh-shrestha-011091109/">
                <i class="lni lni-linkedin-original"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>  
      </div>
    </div>
  </div>
</section>


<a href="javascript:void(0)" class="back-to-top">
  <i class="lni lni-chevron-up"> </i>
</a>

<script>
  const pageLink = document.querySelectorAll(".ud-menu-scroll");

  pageLink.forEach((elem) => {
    elem.addEventListener("click", (e) => {
      e.preventDefault();
      document.querySelector(elem.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
        offsetTop: 1 - 60,
      });
    });
  });

  function onScroll(event) {
    const sections = document.querySelectorAll(".ud-menu-scroll");
    const scrollPos =
      window.pageYOffset ||
      document.documentElement.scrollTop ||
      document.body.scrollTop;

    for (let i = 0; i < sections.length; i++) {
      const currLink = sections[i];
      const val = currLink.getAttribute("href");
      const refElement = document.querySelector(val);
      const scrollTopMinus = scrollPos + 73;
      if (
        refElement.offsetTop <= scrollTopMinus &&
        refElement.offsetTop + refElement.offsetHeight > scrollTopMinus
      ) {
        document
          .querySelector(".ud-menu-scroll")
          .classList.remove("active");
        currLink.classList.add("active");
      } else {
        currLink.classList.remove("active");
      }
    }
  }

  window.document.addEventListener("scroll", onScroll);
</script>

{% endblock %}