{% extends "layout_2.html" %}
{% block title %}Query Generator{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<section class="sdp-page-banner" id="laplace">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-banner-content">
          <h1>Create a Query</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container sdp-container">
    <form action="/query/laplace/epsilon" method="POST">
      <div class="form-group">
        <label for="grouping_column">Grouping By</label>
        <select name="grouping_column" id="grouping_column" class="form-control" aria-describedby="a11y-tooltip" value=""
          required="required">
          {% for column in columns %}
          <option value="{{column['name']}}">{{column['name']}}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="form-group">
        <label for="query_type">Statistic</label>
        <select name="query_type" id="query_type" onChange="check(this);" class="form-control" aria-describedby="a11y-tooltip" value="" required="required">
          <option value="laplace_count">Count</option>
          <option value="laplace_sum">Sum</option>
          <option value="laplace_average">Average</option>
        </select>
        <div id="stat_bounds" style="display:none;">
          <label for="upper_bound">Upper Bound
          <input type="number" class="form-control" name="upper_bound" id="upper_bound" aria-describedby="a11y-tooltip" value="" />
          </label>
          <label for="lower_bound">Lower Bound
          <input type="number" class="form-control" name="lower_bound" id="lower_bound" aria-describedby="a11y-tooltip" value="" />
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="statistic">Of</label>
        <select name="statistic" id="statistic" class="form-control" aria-describedby="a11y-tooltip" value="" required="required">
          {% for column in columns %}
          <option value="{{column['name']}}">{{column['name']}}</option>
          {% endfor %}
        </select>
      </div>

      <div hidden>
        <label for="database_id">Database Id</label>
        <span class="a11y-input-tooltip">
          <input type="text" name="database_id" id="database_id" aria-describedby="a11y-tooltip" value="{{database_id}}"
            required="required" />
      </div>
      <div class="form-group"><input type="submit" class="sdp-button form-control" value="Submit"></div>
    </form>
  </div>
</section>

<script>
  function check(elem) {
      if (elem.value != 'laplace_count'){
          document.getElementById("stat_bounds").style.display = 'block';
      } else {
          document.getElementById("stat_bounds").style.display = 'none';
      }
  }
</script>

{% endblock %}