<!doctype html>
<html>

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Simplify Differential Privacy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    {% endblock %}
</head>

<body>
    <div id="header">
        {% block header %}
            <img src="https://i.ibb.co/TgL5YsJ/Screenshot-1.png" alt="logo" />
            <h1><small>Welcome to Differentially Private Database</small></h1>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}{% endblock %}
    </div>
    <canvas class="background"></canvas>
</body>

</html>