{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<a href="/query/mechanism?database_id={{database_id}}" class="client-database-link">
    <div class="client-database-wrapper default">
        <div class="client-database">
            <span class="client-database-name">
                Create a new query
            </span>
        </div>
    </div>
</a>
{% if queries %}
{% for query in queries %}
<a href="/query/result?query_id={{query.id}}" class="client-database-link">
    <div class="client-database-wrapper">
        <div class="client-database">
            <span class="client-database-name">
                {{query.query_type}} of {{ query.statistic }} grouped by {{ query.grouping_column }}
            </span>
            <span class="divider"></span>
            <span class="client-database-table">
                Epsilon = {{ query.epsilon }}
            </span>
            <div class="query-options">
                <i class="bi-trash delete-query" data-id="{{ query.id }}"></i>
            </div>
        </div>
    </div>
</a>
{% endfor %}
<script>
    $(function() {
        $(".delete-query").click(function(e) {
            e.stopPropagation();
            e.preventDefault();
            $.ajax({
                url: "{{ url_for('delete_query') }}?query_id=" + $(this).data('id'),
                method: "DELETE",
                statusCode: {
                    200: function() {
                        location.reload();
                    },
                    500: function() {
                        error("Error");
                    }
                }
            });
        });
    });
</script>
{% endif %}
{% endblock %}