{% extends "layout_2.html" %}
{% block title %}Queries{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<section class="sdp-page-banner" id="queries">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-banner-content">
                    <h1>Queries for {{ database.name }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container sdp-container">
        <div class="row">
            <div class="col-lg-6 col-md-6 p-md-1 px-sm-0 py-1">
                <div class="sdp-button sdp-button-light">
                    <a href="/query/mechanism?database_id={{database.id}}" role="button" rel="nofollow noopener">
                        Create a Query <i class="bi-plus-square-fill"></i>
                    </a>
                </div>
            </div>
            {% if queries %}
            {% for query in queries %}
            <div class="col-lg-6 col-md-6 p-md-1 px-sm-0 py-1 deletable">
                <div class="sdp-button">
                    <a href="/query/result?query_id={{query.id}}" rel="nofollow noopener">
                        <div class="sdp-button-title">{{ query.to_string() }}</div>
                        <div class="sdp-button-description">Epsilon: {{ query.epsilon }}</div>
                        <span class="delete-item" data-id="{{ query.id }}">
                            <i class="bi-trash"></i>
                        </span>
                    </a>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

<script>
    $(function () {
        $(".delete-item").click(function (e) {
            console.log("click");
            e.stopPropagation();
            e.preventDefault();
            $.ajax({
                url: "{{ url_for('delete_query') }}?query_id=" + $(this).data('id'),
                method: "DELETE",
                statusCode: {
                    200: function () {
                        location.reload();
                    },
                    500: function () {
                        error("Error");
                    }
                }
            });
        });
    });
</script>
{% endblock %}