{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<form action="/query" method="POST">
  <div>
    <label for="grouping">Grouping Column</label>
    <select name="grouping" id="grouping" aria-describedby="a11y-tooltip" value="" required="required">
      {% for column in columns %}
      <option value="{{column['name']}}">{{column['name']}}</option>
      {% endfor %}
    </select>
    <span role="tooltip" id="a11y-tooltip">
      Which column would you like to group by?
    </span>
  </div>

  <div>
    <label for="query_type">Statistic</label>
    <select name="query_type" id="query_type" aria-describedby="a11y-tooltip" value="" required="required">
      <option value="laplace_count">Count</option>
      <option value="laplace_sum">Sum</option>
    </select>
    <span role="tooltip" id="a11y-tooltip">
      What statistic would you like
    </span>
  </div>

  <div>
    <label for="statistic">Of</label>
    <select name="statistic" id="statistic" aria-describedby="a11y-tooltip" value="" required="required">
      {% for column in columns %}
      <option value="{{column['name']}}">{{column['name']}}</option>
      {% endfor %}
    </select>
    <span role="tooltip" id="a11y-tooltip">
      Which column would you like to gather statistics for?
    </span>
  </div>

  <div>
    <label for="epsilon">Epsilon</label>
    <span class="a11y-input-tooltip">
      <input type="number" name="epsilon" id="epsilon" aria-describedby="a11y-tooltip" value="4"
        required="required" />
      <span role="tooltip" id="a11y-tooltip">
        The higher the value, the less private your dataset.
      </span>
    </span>
  </div>

  <div hidden>
    <label for="username">Username</label>
    <span class="a11y-input-tooltip">
      <input type="text" name="username" id="username" aria-describedby="a11y-tooltip" value="{{username}}"
        required="required" />
  </div>

  <div hidden>
    <label for="password">Password</label>
    <span class="a11y-input-tooltip">
      <input type="password" name="password" id="password" aria-describedby="a11y-tooltip" value="{{password}}"
        required="required" />
      <span role="tooltip" id="a11y-tooltip">
        Please enter the password to your database.
      </span>
    </span>
  </div>

  <div hidden>
    <label for="host">Host</label>
    <span class="a11y-input-tooltip">
      <input type="text" name="host" id="host" aria-describedby="a11y-tooltip" value="{{host}}" required="required" />
      <span role="tooltip" id="a11y-tooltip">
        Please enter your database URI.</span>
    </span>
  </div>

  <div hidden>
    <label for="database">Database</label>
    <span class="a11y-input-tooltip">
      <input type="text" name="database" id="database" aria-describedby="a11y-tooltip" value="{{database}}"
        required="required" />
      <span role="tooltip" id="a11y-tooltip">
        Please enter the database name.</span>
    </span>
  </div>

  <div hidden>
    <label for="table">Table</label>
    <span class="a11y-input-tooltip">
      <input type="text" name="table" id="table" aria-describedby="a11y-tooltip" value="{{table}}"
        required="required" />
      <span role="tooltip" id="a11y-tooltip">
        Please enter the table name.</span>
    </span>
  </div>

  <div hidden>
    <label for="port">port</label>
    <span class="a11y-input-tooltip">
      <input type="number" name="port" id="port" aria-describedby="a11y-tooltip" value="{{port}}" required="required"
        placeholder="3306" />
      <span role="tooltip" id="a11y-tooltip">
        Please enter port number, default is 3306 .</span>
    </span>
  </div>

  <input type="submit" value="Submit">
</form>

{% endblock %}