{% extends "layout_2.html" %}
{% block title %}Queries{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<section class="sdp-page-banner" id="queries">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-banner-content my-4">
                    <h1>Product Roadmap</h1>
                </div>
                <div class="ud-banner-content my-2">
                    <img src=" {{ url_for('static', filename='images/about/product_roadmap.png' ) }}"
                        alt="Product Roadmap"  width="80%">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}