{% extends "layout_2.html" %}
{% block title %}Find Data{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<section class="sdp-page-banner" id="add-database">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-banner-content">
          <h1>Find Data</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="form-group mb-1">
        <input type="text" name="search" id="search" class="form-control" placeholder="Search for queries" aria-label="search">
    </div>
    <input id="search-button" class="sdp-button form-control my-2" style="text-align: center;" value="Search">
  </div>
</section>

<section>
  <div class="container sdp-container">
      <div class="row" id="search-results">

      </div>
  </div>
</section>

<script>
    $(function() {
        $("#search").change(function() {
            getDatabases($(this).val());
        });

        $("#search-button").click(function() {
            getDatabases($("#search").val());
        });

        function getDatabases(search) {
            $('#search-results').html('');
            $.ajax({
                url: "/lookup?query=" + $("#search").val(),
                statusCode: {
                    200: function (result) {
                      result = JSON.parse(result);
                        for(var i=0; i < result.length; i++) {
                          $('#search-results').html(`
                            ${$('#search-results').html()}
                            <div class="col-lg-6 col-md-6 p-md-1 px-sm-0 py-1 deletable">
                              <div class="sdp-button" data-epsilon="${result[i].epsilon}">
                                <a href="/query/result?query_id=${result[i].id}" rel="nofollow noopener">
                                  <div class="sdp-button-title sdp-search-result-title">${result[i].database_name}</div>
                                  <div class="sdp-button-title">${result[i].description}</div>
                                  <div class="sdp-button-description">Epsilon: ${result[i].epsilon}</div>
                                </a>
                              </div>
                            </div>
                          `);
                        }

                        $('.sdp-button').click(function() {
                          var previousEpsilon = parseFloat($(".ud-login-btn").html().replace("Your epsilon: ", ""));
                          var cost = $(this).data("epsilon");
                          $(".ud-login-btn").html(`Your epsilon: ${(previousEpsilon - cost).toFixed(1)}`);
                        });
                    },
                    500: function (result) {
                        error("Error");
                    }
                }
            });
        }
    });
</script>
{% endblock %}